Platform.Core/bin/
Platform.Base/bin/
Platform.Core/obj/
Platform.Base/obj/
Platform.Base/bin/
Platform.Base/obj/
Platform.Core/bin/
Platform.Core/obj/
Platform.Data/bin/
Platform.Data/obj/
Platform.Test/bin/
Platform.Test/obj/
Platform.Id/obj/
Platform.Id/bin/
Platform.Appn/bin/
Platform.Appn/obj/
packages/
