<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Ulavi.Appn-20150516023858.mdf;Initial Catalog=aspnet-Ulavi.Appn-20150516023858;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MySqlDB" connectionString="server=localhost;userid=root;password=root;database=test-builder;Allow Zero Datetime=True" />
    <add name="MySqlDBTest" connectionString="server=localhost;userid=root;password=root;database=test;Allow Zero Datetime=True" />
  </connectionStrings>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <add key="DbMigrationFolders" value="PLATFORM|DIRECTORY" />
    <add key="DB_Migration_Base" value="C:\Projects\01-WebApps\bool2\{0}\{0}.Data\Migrations\{0}\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>