<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Ulavi.Appn-20150516023858.mdf;Initial Catalog=aspnet-Ulavi.Appn-20150516023858;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MySqlDB" connectionString="server=localhost;userid=root;password=root;database=test-builder;Allow Zero Datetime=True" />
  </connectionStrings>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <add key="DbMigrationFolders" value=""/>
    <add key="DB_Migration_Base" value="C:\Projects\01-WebApps\bool2\Platform\Platform.Data\Migrations\" />
  </appSettings>
</configuration>